<footer class="footer">
	<div class="container footer__box">
		<div class="main-address">
			<a class="logo link" href="#home-page">
				<p class="main-address__text">
					<span class="logo__accent">Web</span>Studio
				</p>
			</a>

			<!-- Адрес -->

			<address class="address">
				<ul class="address__list list">
					<li class="address__item">
						<p class="address__text">г. Киев, пр-т Леси Украинки, 26</p>
					</li>
					<li class="address__item">
						<a class="address__link link" href="mailto:info@example.com">info@example.com</a>
					</li>
					<li class="address__item">
						<a class="address__link link" href="tel:+38-096-111-11-11">+38 096 111 11 11</a>
					</li>
				</ul>
			</address>
		</div>

		<!-- Социальные ссылки -->

		<div class="social">
			<h2 class="social__title">Присоеденяйтесь</h2>
			<ul class="social__list list">
				<li class="social__item">
					<a class="social__link social__instagram-link link" href="https://www.instagram.com/?hl=ru"></a>
				</li>
				<li class="social__item">
					<a class="social__link social__twitter-link link" href="https://twitter.com/?lang=ru"></a>
				</li>
				<li class="social__item">
					<a class="social__link social__facebook-link link" href="https://www.facebook.com/"></a>
				</li>
				<li class="social__item">
					<a class="social__link social__linkedin-link link" href="https://www.linkedin.com/"></a>
				</li>
			</ul>
		</div>

		<!--  Подписка на рассылку -->

		<div class="subscription">
			<h2 class="subscription__title">Подпишитесь на рассылку</h2>
			<form class="subscription__form" action="#">
				<label class="subscrition__form-field">
					<input type="email" class="subscription__input" name="subscripe-mail" placeholder="E-mail"
						pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="off" required />
				</label>
				<button type="submit" class="subscription__button button">
					Подписаться
				</button>
			</form>
		</div>
	</div>
</footer>