<div class="backdrop is-hidden" data-modal>
	<div class="modal">
		<button class="button-close" data-modal-close type="button">
			<svg class="button-close__svg">
				<use href="./images/icon-sprite.svg#btn-close"></use>
			</svg>
		</button>

		<h2 class="modal__title">Оставьте свои данные, мы вам перезвоним</h2>
		<form class="modal__form" action="#">
			<label class="modal__form-field">
				<span class="modal__form-label">Имя</span>
				<input type="text" class="modal__form-input" name="user-name" pattern="^[A-Za-zА-Яа-яЁё\s]+$"
					autocomplete="off" placeholder="Имя" required />
				<svg class="modal__form-icon">
					<use href="./images/icon-sprite.svg#person-black-18dp"></use>
				</svg>
			</label>

			<label class="modal__form-field">
				<span class="modal__form-label">Телефон</span>
				<input type="tel" class="modal__form-input" name="user-phone" pattern="[0-9]{10,12}" autocomplete="off"
					placeholder="Телефон" required />
				<svg class="modal__form-icon">
					<use href="./images/icon-sprite.svg#phone-black-18dp"></use>
				</svg>
			</label>

			<label class="modal__form-field">
				<span class="modal__form-label">Почта</span>
				<input type="email" class="modal__form-input" name="user-mail"
					pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="off" placeholder="Почта" required />
				<svg class="modal__form-icon">
					<use href="./images/icon-sprite.svg#email-black-18dp"></use>
				</svg>
			</label>

			<label class="modal__form-field">
				<span class="modal__form-label">Комментарий</span>
				<textarea class="modal__form-textarea modal__form-input" name="user-message" rows="6"
					placeholder="Введите текст"></textarea>
			</label>

			<label class="modal__form-checkbox">
				<input type="checkbox" class="modal__form-checkbox-input visually-hidden" name="checkbox" required />
				<span class="modal__checkbox-icon"></span>
				<span class="modal__form-checkbox-text">Соглашаюсь с рассылкой и принимаю</span>
				<a class="modal__form-checkbox-link link" href="#">Условия договора</a>
			</label>

			<button type="submit" class="modal__form-button button">
				Отправить
			</button>
		</form>
	</div>
</div>
<script src="./js/menu-mobile.js"></script>
<script src="./js/modal.js"></script>