	<!-- Чем мы занимаемся -->

	<section class="section">
		<div class="container practice">
			<h2 class="section__title">Чем мы занимаемся</h2>
			<ul class="practice__list list">
				<li class="practice__item">
					<picture>
						<source srcset="
                    ./images/practice/desktop-app.webp,
                    ./images/practice/desktop-app@2x.webp 2x
                  " type="image/webp" />
						<source srcset="./images/practice/desktop-app@2x.jpg 2x" />
						<img class="practice__image" src="./images/practice/desktop-app.jpg" alt="Написание кода программы"
							width="370" />
					</picture>
					<div class="practice__box-inside">
						<p class="practice__text">Десктопные приложения</p>
					</div>
				</li>
				<li class="practice__item">
					<picture>
						<source srcset="
                    ./images/practice/mobile-app.webp,
                    ./images/practice/mobile-app@2x.webp 2x
                  " type="image/webp" />
						<source srcset="./images/practice/mobile-app@2x.jpg 2x" />
						<img class="practice__image" src="./images/practice/mobile-app.jpg"
							alt="Создание структуры программы" width="370" />
					</picture>
					<div class="practice__box-inside">
						<p class="practice__text">Мобильные приложения</p>
					</div>
				</li>
				<li class="practice__item">
					<picture>
						<source srcset="
                    ./images/practice/desing-solution.webp,
                    ./images/practice/desing-solution@2x.webp 2x
                  " type="image/webp" />
						<source srcset="./images/practice/desing-solution@2x.jpg 2x" />
						<img class="practice__image" src="./images/practice/desing-solution.jpg"
							alt="Разработка дизайна проэкта" width="370" />
					</picture>
					<div class="practice__box-inside">
						<p class="practice__text">Дизайнерские решения</p>
					</div>
				</li>
			</ul>
		</div>
	</section>