<!-- Наша команда -->

<section class="section team">
	<div class="container team__box">
		<h2 class="section__title">Наша команда</h2>

		<ul class="team__list list">
			<li class="team__item">
				<picture>
					<source srcset="
                    ./images/team/mobile/product-desinger.webp,
                    ./images/team/mobile/product-desinger@2x.webp 2x
                  " type="image/webp" media="(max-width: 767px)" />
					<source srcset="
                    ./images/team/tablet/product-desinger.webp,
                    ./images/team/tablet/product-desinger@2x.webp 2x
                  " type="image/webp" media="(max-width: 1199px)" />
					<source srcset="
                    ./images/team/desktop/product-desinger.webp,
                    ./images/team/desktop/product-desinger@2x.webp 2x
                  " type="image/webp" media="(min-width: 1200px)" />
					<source srcset="
                    ./images/team/mobile/product-desinger.jpg,
                    ./images/team/mobile/product-desinger@2x.jpg 2x
                  " media="(max-width: 767px)" />
					<source srcset="
                    ./images/team/tablet/product-desinger.jpg,
                    ./images/team/tablet/product-desinger@2x.jpg 2x
                  " media="(max-width: 1199px)" />
					<source srcset="./images/team/desktop/product-desinger@2x.jpg 2x" media="(min-width: 1200px)" />
					<img class="team__image" src="./images/team/desktop/product-desinger.jpg" alt="Дизайнер продукта"
						width="270" />
				</picture>
				<div class="team__text">
					<h3 class="team__title">Игорь Демьяненко</h3>
					<p class="team__career">Product Designer</p>
				</div>

				<ul class="team-social list">
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.instagram.com/?hl=ru">
							<svg class="team-social__instagram">
								<use href="./images/icon-sprite.svg#instagram"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://twitter.com/?lang=ru">
							<svg class="team-social__twitter">
								<use href="./images/icon-sprite.svg#twitter"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.facebook.com/">
							<svg class="team-social__facebook">
								<use href="./images/icon-sprite.svg#facebook"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.linkedin.com/">
							<svg class="team-social__linkedin">
								<use href="./images/icon-sprite.svg#linkedin"></use>
							</svg>
						</a>
					</li>
				</ul>
			</li>

			<li class="team__item">
				<picture>
					<source srcset="
                    ./images/team/mobile/frontend-developer.webp,
                    ./images/team/mobile/frontend-developer@2x.webp 2x
                  " type="image/webp" media="(max-width: 767px)" />
					<source srcset="
                    ./images/team/tablet/frontend-developer.webp,
                    ./images/team/tablet/frontend-developer@2x.webp 2x
                  " type="image/webp" media="(max-width: 1199px)" />
					<source srcset="
                    ./images/team/desktop/frontend-developer.webp,
                    ./images/team/desktop/frontend-developer@2x.webp 2x
                  " type="image/webp" media="(min-width: 1200px)" />
					<source srcset="
                    ./images/team/mobile/frontend-developer.jpg,
                    ./images/team/mobile/frontend-developer@2x.jpg 2x
                  " media="(max-width: 767px)" />
					<source srcset="
                    ./images/team/tablet/frontend-developer.jpg,
                    ./images/team/tablet/frontend-developer@2x.jpg 2x
                  " media="(max-width: 1199px)" />
					<source srcset="./images/team/desktop/frontend-developer@2x.jpg 2x" media="(min-width: 1200px)" />
					<img class="team__image" src="./images/team/desktop/frontend-developer.jpg"
						alt="Фронтенд разработчик" width="270" />
				</picture>
				<div class="team__text">
					<h3 class="team__title">Ольга Репина</h3>
					<p class="team__career">Frontend Developer</p>
				</div>

				<ul class="team-social list">
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.instagram.com/?hl=ru">
							<svg class="team-social__instagram">
								<use href="./images/icon-sprite.svg#instagram"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://twitter.com/?lang=ru">
							<svg class="team-social__twitter">
								<use href="./images/icon-sprite.svg#twitter"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.facebook.com/">
							<svg class="team-social__facebook">
								<use href="./images/icon-sprite.svg#facebook"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.linkedin.com/">
							<svg class="team-social__linkedin">
								<use href="./images/icon-sprite.svg#linkedin"></use>
							</svg>
						</a>
					</li>
				</ul>
			</li>

			<li class="team__item">
				<picture>
					<source srcset="
                    ./images/team/mobile/marketing.webp,
                    ./images/team/mobile/marketing@2x.webp 2x
                  " type="image/webp" media="(max-width: 767px)" />
					<source srcset="
                    ./images/team/tablet/marketing.webp,
                    ./images/team/tablet/marketing@2x.webp 2x
                  " type="image/webp" media="(max-width: 1199px)" />
					<source srcset="
                    ./images/team/desktop/marketing.webp,
                    ./images/team/desktop/marketing@2x.webp 2x
                  " type="image/webp" media="(min-width: 1200px)" />
					<source srcset="
                    ./images/team/mobile/marketing.jpg,
                    ./images/team/mobile/marketing@2x.jpg 2x
                  " media="(max-width: 767px)" />
					<source srcset="
                    ./images/team/tablet/marketing.jpg,
                    ./images/team/tablet/marketing@2x.jpg 2x
                  " media="(max-width: 1199px)" />
					<source srcset="./images/team/desktop/marketing@2x.jpg 2x" media="(min-width: 1200px)" />
					<img class="team__image" src="./images/team/desktop/marketing.jpg" alt="Маркетолог" width="270" />
				</picture>
				<div class="team__text">
					<h3 class="team__title">Николай Тарасов</h3>
					<p class="team__career">Marketing</p>
				</div>

				<ul class="team-social list">
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.instagram.com/?hl=ru">
							<svg class="team-social__instagram">
								<use href="./images/icon-sprite.svg#instagram"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://twitter.com/?lang=ru">
							<svg class="team-social__twitter">
								<use href="./images/icon-sprite.svg#twitter"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.facebook.com/">
							<svg class="team-social__facebook">
								<use href="./images/icon-sprite.svg#facebook"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.linkedin.com/">
							<svg class="team-social__linkedin">
								<use href="./images/icon-sprite.svg#linkedin"></use>
							</svg>
						</a>
					</li>
				</ul>
			</li>

			<li class="team__item">
				<picture>
					<source srcset="
                    ./images/team/mobile/ui-desinger.webp,
                    ./images/team/mobile/ui-desinger@2x.webp 2x
                  " type="image/webp" media="(max-width: 767px)" />
					<source srcset="
                    ./images/team/tablet/ui-desinger.webp,
                    ./images/team/tablet/ui-desinger@2x.webp 2x
                  " type="image/webp" media="(max-width: 1199px)" />
					<source srcset="
                    ./images/team/desktop/ui-desinger.webp,
                    ./images/team/desktop/ui-desinger@2x.webp 2x
                  " type="image/webp" media="(min-width: 1200px)" />
					<source srcset="
                    ./images/team/mobile/ui-desinger.jpg,
                    ./images/team/mobile/ui-desinger@2x.jpg 2x
                  " media="(max-width: 767px)" />
					<source srcset="
                    ./images/team/tablet/ui-desinger.jpg,
                    ./images/team/tablet/ui-desinger@2x.jpg 2x
                  " media="(max-width: 1199px)" />
					<source srcset="./images/team/desktop/ui-desinger@2x.jpg 2x" media="(min-width: 1200px)" />
					<img class="team__image" src="./images/team/desktop/ui-desinger.jpg"
						alt="Дизайнер пользовательского интерфейса" width="270" />
				</picture>
				<div class="team__text">
					<h3 class="team__title">Михаил Ермаков</h3>
					<p class="team__career">UI Designer</p>
				</div>

				<ul class="team-social list">
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.instagram.com/?hl=ru">
							<svg class="team-social__instagram">
								<use href="./images/icon-sprite.svg#instagram"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://twitter.com/?lang=ru">
							<svg class="team-social__twitter">
								<use href="./images/icon-sprite.svg#twitter"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.facebook.com/">
							<svg class="team-social__facebook">
								<use href="./images/icon-sprite.svg#facebook"></use>
							</svg>
						</a>
					</li>
					<li class="team-social__item">
						<a class="team-social__link link" href="http://www.linkedin.com/">
							<svg class="team-social__linkedin">
								<use href="./images/icon-sprite.svg#linkedin"></use>
							</svg>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>